.paper {
    position: absolute;
    width: 413px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #F9F9FE;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
}

.formControl {
    width: 350px;
}

.register {
    padding-top: 80px;
}