.header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;

    color: #2D2E46;
    padding-top: 25px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    color: #2D2E46;
    padding: 32px 40px;
}